/* --------------------------------- Colors --------------------------------- */

$green-light: #7ed56f;
$green-medium: #55c57a;
$green-dark: #28b485;
$orange-light: #ffb900;
$orange-dark: #ff7730;
$blue-light: #2998ff;
$blue-dark: #5643fa;
$grey-dark: #777;
$grey-light-1: #f7f7f7;
$white: white;
$shadow-light: 0px 0px 10px rgba(0, 0, 0, 0.2);

/* ---------------------------------- Grid ---------------------------------- */

$grid-width: 114rem;
$grid-gap-row: 8rem;
$grid-gap-col: 6rem;
