.flip-card {
	perspective: 150rem;
	-moz-perspective: 150rem;
	position: relative;
	height: 45rem;

	&__side {
		overflow: hidden;
		transition: all 0.8s ease;
		position: absolute;
		height: 45rem;
		top: 0;
		left: 0;
		width: 100%;
		backface-visibility: hidden;
		border-radius: 3px;
		box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);

		&--front {
			background: $white;
		}

		&--back {
			transform: rotateY(180deg);
			&-1 {
				background-image: linear-gradient(to bottom right, $orange-light, $orange-dark);
			}
			&-2 {
				background-image: linear-gradient(to bottom right, $blue-light, $blue-dark);
			}
			&-3 {
				background-image: linear-gradient(to bottom right, $green-light, $green-dark);
			}
		}
	}

	&:hover &__side--front {
		transform: rotateY(-180deg);
	}
	&:hover &__side--back {
		transform: rotateY(0);
	}

	&__img {
		height: 23rem;
		background-size: cover;
		background-blend-mode: screen;
		background-position: center;
		clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

		&--1 {
			background-image: linear-gradient(to bottom right, $orange-light, $orange-dark), url('../img/nat-5.jpg');
		}
		&--2 {
			background-image: linear-gradient(to bottom right, $blue-light, $blue-dark), url('../img/nat-6.jpg');
		}
		&--3 {
			background-image: linear-gradient(to bottom right, $green-light, $green-dark), url('../img/nat-7.jpg');
		}
	}

	&__heading {
		font-size: 2.8rem;
		font-weight: 300;
		text-transform: uppercase;
		position: absolute;
		color: $white;
		width: 90%;
		text-align: right;
		right: 2rem;
		top: 12rem;
		padding: 1rem 1.5rem;

		&-span {
			box-decoration-break: clone;
			-webkit-box-decoration-break: clone;
			&--1 {
				background-image: linear-gradient(to bottom right, rgba($orange-dark, 0.85), rgba($orange-light, 0.85));
			}
			&--2 {
				background-image: linear-gradient(to bottom right, rgba($blue-dark, 0.85), rgba($blue-light, 0.85));
			}
			&--3 {
				background-image: linear-gradient(to bottom right, rgba($green-dark, 0.85), rgba($green-light, 0.85));
			}
		}
	}

	&__details {
		text-align: center;
		li {
			font-size: 1.5rem;
			padding: 1rem;
			margin: 0 auto;
			width: 70%;
			list-style: none;
			color: #333;
		}
		li:not(:last-child) {
			border-bottom: 1px solid darken($grey-light-1, 10);
		}
	}

	&__cta {
		width: 80%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	&__price {
		font-size: 6rem;
		color: $white;
		font-weight: 100;

		&::before {
			position: absolute;
			content: 'only';
			font-size: 1.5rem;
			font-weight: 700;
			top: -20%;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}
